name: "Test"

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    types: [opened]

jobs:
  test:
    runs-on: ubuntu-latest
    container: astral/uv:python3.12-bookworm-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Dependency
        run: uv sync
      - name: Test
        run: uv run pytest tests/
